html {
  background-color: rgb(237, 254, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Single Day', cursive, Arial;
  font-weight: 400;
  font-style: normal;
  color: rgb(5, 97, 102);
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

body {
  font-family: 'Single Day', cursive, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(5, 97, 102);
}

/* Ensure box-sizing includes padding and borders */
* {
  box-sizing: border-box;
}

div img {
  max-width: 100%;
  object-fit: fill;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}
p {
  font-size: 1.5em;
}

header,
footer,
main {
  width: 92%;
  margin: 0 auto; /* Center align these elements */
}

/* header & nav styling */
.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden; /* Prevent horizontal scrolling *
  /* padding: 0.3em; */
}

header h1 {
  font-size: 3.5em;
}

nav {
  font-size: 1.5em;
}

/* listing styling */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* buttons styling */

button {
  /* background-color: #249fa5 */
  background-color: #225c5e;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px #a1aeae;
  padding: 5px 15px;
  min-height: 2.5em;
  min-width: 4em;
  font-size: 1em;
}

.game-btn {
  background-color: #235f61;
  box-shadow: 3px 3px rgb(161, 174, 174);
}

/* reactive */

@media (max-width: 600px) {
  p {
    font-family: 'Noteworthy', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.8em;
  }
  nav {
    float: center;
  }
  h1,
  header h1 {
    font-size: 1.5em;
  }
  header img {
    width: 10em;
  }
  h2 {
    font-size: 1em;
  }
  img {
    max-width: 20em;
  }
}
